  apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: abc-technologies-pvc
    namespace: abc-technologies
  spec:
    storageClassName: ""
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi  